.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    
    margin: auto;
    /* background-image: url("../assets/sherbeeny.jpg"); */
}